﻿@model IEnumerable<WebBeacon.Models.AddContentModel>
@{
    ViewBag.Title = "Contents";
}

<body class="contentbg">
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="@Url.Action("Contents")"><b>BeQuiet</b></a>
                <span class="navbar-brand">Class Automation App.</span>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">


                <ul class="nav navbar-nav navbar-right">
                    <li style="border-right: 1px solid #0197f3;"><a href="@Url.Action("Logout", "Account")"><b>Logout</b></a></li>
                    <li style="border-right: 1px solid #0197f3;"><a href="@Url.Action("Contents")"><b>Existing Contents</b></a></li>
                    <li><a href="@Url.Action("AddContent")"><b>Add New Content</b></a></li>

                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>





    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="panel panel-primary shadow">
            <div class="panel-heading">
                <label class="text-center" style="padding-left: 40%; font-size: x-large;"><b>Content List</b></label>

            </div>
            <div class="panel-body">
                <ul class="list-group">
                    @foreach (var item in Model)
                    {
                             
                        <li class="list-group-item">
                            <div class="beaconcontent">
                                <div>
                                    <label>
                                        <b>Place:</b>
                                    </label>
                                    <label>@item.Beacon.Name</label>
                                </div>
                                <div style="display: inline-block;">
                                    <label><b>Start Date&Time : </b></label>
                                    <label>@item.Content.StartDateTime</label>
                                </div>
                                <div style="display: inline-block;">
                                    <label><b>End Date&Time :</b></label>
                                    <label>@item.Content.EndDateTime</label>
                                </div>
                                <br />
                                <div style="display: inline-block;">
                                    <label><b>Instructor Name : </b></label>
                                    <label>@item.Content.InstructorName</label>
                                </div>
                                <div style="display: inline-block;">
                                    <label><b>Course Name :</b></label>
                                    <label>@item.Content.CourseName</label>
                                </div>
                                <div style="display: block;">
                                    <label style="display: inline-block; float: left;"><b>Description:</b></label>
                                    <label style="display: inline-block;">@item.Content.Description</label>
                                </div>
                            </div>
                            <div class="action-buttons" style="display: block">
                                <div style="display: inline-block; float: left; margin-right: 5px">
                                    @Html.ActionLink("Update", "Update", new { id = item.Content.Id }, new { @class = "btn btn-primary btn-sm" })

                                </div>
                                <div style="display: inline-block">
                                    @using (Html.BeginForm("Delete", "Beacon", new { id = item.Content.Id }, FormMethod.Post, new { id = "deleteForm" }))
                                    {
                                        <input type="submit" value="Remove" class="btn btn-danger btn-sm" />
                                    }
                                </div>


                            </div>
                        </li>      
                    }

                </ul>
            </div>
            <div class="panel-footer">
                <div class="row">
                    <div class="col-md-6">
                        <h5>Total Content <span class="label label-info">@Model.Count()</span></h5>
                    </div>
                    @*<div class="col-md-6">
                        <ul class="pagination pagination-sm pull-right">
                            <li class="disabled"><a href="javascript:void(0)">«</a></li>
                            <li class="active"><a href="javascript:void(0)">1 <span class="sr-only">(current)</span></a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li><a href="javascript:void(0)">»</a></li>
                        </ul>
                    </div>*@
                </div>
            </div>
        </div>
    </div>

    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
