﻿@model WebBeacon.Models.UpdateViewModel
@{
    ViewBag.Title = "Update";
    string startDate = Convert.ToDateTime(Model.c.StartDateTime).ToString("yyyy-MM-ddThh:mm:ss");
    string endDate = Convert.ToDateTime(Model.c.EndDateTime).ToString("yyyy-MM-ddThh:mm:ss");
    
}


<body class="contentbg2">
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="@Url.Action("Contents")"><b>BeQuiet</b></a>
                <span class="navbar-brand">Class Automation App.</span>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">


                <ul class="nav navbar-nav navbar-right">
                    <li style="border-right: 1px solid #0197f3;"><a href="@Url.Action("Logout", "Account")"><b>Logout</b></a></li>
                    <li style="border-right: 1px solid #0197f3;"><a href="@Url.Action("Contents")"><b>Existing Contents</b></a></li>
                    <li><a href="@Url.Action("AddContent")"><b>Add New Content</b></a></li>

                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    <div class="container">

        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="panel panel-primary shadow">
                <div class="panel-heading text-center">
                    <label style="font-size: x-large;"><b>Update Content</b></label>

                </div>
                @using (@Html.BeginForm())
                {
                    <div class="panel-body">
                        <div style="margin-top: 60px;">

                            <div class="form-group col-sm-12">

                                <label class="col-sm-4 control-label text-right lcolor" style="padding-top: 5px;">Choose a Beacon </label>

                                <div class="dropdown col-sm-8" style="width: 100px;">
                                    <select class="form-control" id="BeaconId" name="BeaconId">
                                        @foreach (var item in Model.beacons)
                                        {
                                            if (item.Id == Model.c.BeaconId)
                                            {
                                            <option value="@item.Id" selected>@item.Name</option>
                                            }
                                            else
                                            {
                                            <option value="@item.Id">@item.Name</option>
                                            }
                                        }
                                    </select>
                                </div>
                            </div>
                            <br />

                            <div class="form-group col-sm-12">

                                <label class="col-sm-4 control-label text-right lcolor" style="padding-top: 10px;">Start Date&Time</label>
                                <div class="col-sm-8">
                                    <input type="datetime-local" class="form-control" style="float: right;" value="@startDate" name="StartDateTime" />
                                </div>
                            </div>

                            <div class="form-group col-sm-12">
                                <label class="col-sm-4 control-label text-right lcolor">Instructor Name </label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" style="float: right;" value="@Model.c.InstructorName" name="InstructorName" />
                                </div>
                            </div>

                            <div class="form-group col-sm-12">
                                <label class="col-sm-4 control-label text-right lcolor">Course Name </label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" style="float: right;" value="@Model.c.CourseName" name="CourseName"/>
                                </div>
                            </div>

                            <div class="form-group col-sm-12">
                                <label class="col-sm-4 control-label text-right lcolor">Description </label>
                                <div class="col-sm-8">
                                    <textarea type="text" class="form-control" column="60" rows="6" style="float: right;" name="Description">@Model.c.Description</textarea>
                                </div>
                            </div>

                            <div class="form-group col-sm-12">
                                <label class="col-sm-4 control-label text-right lcolor" style="padding-top: 10px;">End Date&Time </label>
                                <div class="col-sm-8">
                                    <input type="datetime-local" class="form-control " style="float: right;" value="@endDate" name="EndDateTime" />
                                </div>
                            </div>
                            <div class="form-group col-sm-12">
                                <div class="col-md-4"></div>
                                <div class="col-sm-8">
                                    <button type="submit" class="btn btn-primary">Update</button>
                                </div>
                            </div>

                        </div>
                    </div>
                }

            </div>
        </div>
    </div>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
