﻿@{
    ViewBag.Title = "Login";
}

<body class="emre">
    @using (@Html.BeginForm())
    {
        <div class="container">
            <div class="col-md-4 col-sm-6 col-xs-12" style="margin-top: 20px;">

                <h3 class="form-signin-heading">Please Sign in to Change Your Beacon!</h3>
                <div>
                    <label for="inputEmail" class="sr-only">Email address</label>
                    <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus name="UserEmail" />
                </div>

                <div style="padding-top: 15px;">
                    <label for="inputPassword" class="sr-only">Password</label>
                    <input type="password" id="inputPassword" class="form-control" placeholder="Password" required name="Password" />
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="remember-me" />
                        Remember me
                    </label>
                </div>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>

                <div style="padding-top: 15px;">
                    <h4>Manage your Beacon with BeQuiet<br />
                        to catch up with the Beacon Technology! </h4>
                </div>

            </div>

        </div>
    }
    <script src="~/Scripts/bootstrap.min.js"></script>

</body>

