.emre {
	/*background: url(bg.jpg) no-repeat center center fixed;*/
    background:url(bg.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;

	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
   
   

}


.flag { color:rgb(248, 148, 6); }
.panel-body { padding:0px; }
.panel-footer .pagination { margin: 0; }
.panel .glyphicon,.list-group-item .glyphicon { margin-right:5px; }
.panel-body .radio,.beaconcontent { display:inline-block;margin:0px; }

.panel-heading {height:65px;
}
.list-group-item:hover, a.list-group-item:focus {text-decoration: none;background-color: rgb(245, 245, 245);}
.list-group { margin-bottom:0px; }
label {font-weight:300;
}
.contentbg {
    background: url(content.png) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
    opacity:0.97;
}
.contentbg2 {
    background: url(newcontent.png) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
    opacity:0.97;
}
.lcolor {color:#000;
}
.shadow { box-shadow: 8px 10px 2px #027ac3;
}